<div class="m-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6 border rounded border-secondary p-3">
      <%= simple_form_for @pet do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.input :found_date %>
        <%= f.input :description, as: :text %>
        <%= f.input :species %>
        <%= f.input :breed %>
        <%= f.input :size %>
        <%= f.input :age %>
        <%= f.input :state %>
        <%= f.input :city %>
        <%= f.input :neighborhood %>
        <div class="row justify-content-center">
        <%= f.submit :class => "btn btn-success"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
