<h1>Your Adoption Requests</h1>
<hr>
<% @requests.each do |request| %>
  <% pet_owner_first_name = request.pet.user.first_name %>
  <% pet_owner_last_name = request.pet.user.last_name %>
  <% pet_owner_full_name = "#{pet_owner_first_name} #{pet_owner_last_name}" %>

  <h1><%= display_text(request, @all_requests) %></h1>
  <%= link_to "Talk to #{pet_owner_full_name}", request_messages_path(request.id), class: "btn btn-secondary" %>
  <%= link_to "See #{request.pet.name} Profile", pet_path(request.pet), class: "btn btn-secondary" %>
  <hr>
<% end %>

<% @requests.each do |request| %>
  <div class="notification">
    <div>
    <img src="<%= cl_image_path request.pet.user.photo.key if request.pet.user.photo.attached? %>" class="avatar-large" />
      <img src="<%= cl_image_path request.pet.photo.key if request.pet.photo.attached? %>" class="avatar-large" />
    </div>
    <div class="notification-content">
      <p><small><%= display_text(request, @all_requests) %></small></p>
      <p><%= display_last_message(request) %></p>
    </div>

    <div class="notification-actions">
      <a href="<%= request_messages_path(request.id) %>">Messages <i class="far fa-comment"></i></a>
      <% unless request_finished?(request, @all_requests) %>
        <a href="#">Cancel Request <i class="far fa-trash-alt"></i></a>
      </div>
    <% end %>
  </div>
<% end %>
